<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SwiftStore</string>
    <key>CFBundleIdentifier</key>
    <string>org.example.SwiftStore</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
        <integer>2</integer>
    </array>
    <key>GITHUB_CLIENT_ID</key>
    <string>YOUR_GITHUB_CLIENT_ID</string>
    <key>GITHUB_CLIENT_SECRET</key>
    <string>YOUR_GITHUB_CLIENT_SECRET</string>
    <key>GITHUB_REDIRECT_URI</key>
    <string>swiftstore://oauth</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>swiftstore</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
